.menu {
    display: flex;
    align-items: center;
    position: sticky;
    background: rgb(212 212 212 / 80%);
    padding: 5px 10px;
    top: 0;
    z-index: 100;
}
.title {
    font-size: 20px;
    margin: 0;
    margin-right: 20px;
}
.refresh {
    height: 18px;
    width: 18px;
    color: white;
}
