@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 102;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility linear 0.3s;
}
.opened {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    overflow: hidden;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 80%;
    width: 430px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    z-index: 105;
}
.button {
    position: absolute;
    top: -44px;
    right: -44px;
}
.title {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 20px;
}