.button {
    width: 20px;
    height: 20px;
    background: none;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    outline: 0;
}
.button:focus {
    outline: 0;
}
.edit {
    background-image: url(./icons/edit.svg);
}
.delete {
    background-image: url(./icons/trash-2.svg);
}
.close {
    background-image: url(./icons/arrow-rigth.svg);
}
.open {
    background-image: url(./icons/arrow-down.svg);
}
.insert {
    background-image: url(./icons/file-plus.svg);
}
.position {
    background-image: url(./icons/move.svg);
}
.folder_plus {
    background-image: url(./icons/folder-plus.svg);
}
.opacity {
    opacity: .5;
}
.closeButton {
    background-image: url(./icons/close.svg);
}
