.item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 2px solid green;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
}
.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99;
}
.name {
    margin: 0;
}
.buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.button {
    width: 20px;
    height: 20px;
    background: none;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    outline: 0;
}
.button:focus {
    outline: 0;
}
.image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: 0 5px;
}
.open {
    display: block;
}